<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="Common Rules for Projects" Description="Code analysis rules for projects which have been released or are intended to be." ToolsVersion="16.0">
	<IncludeAll Action="Warning" />
	<Rules AnalyzerId="Meziantou.Analyzer" RuleNamespace="Meziantou.Analyzer">
		<Rule Id="MA0003" Action="None" />
		<Rule Id="MA0007" Action="None" />
		<Rule Id="MA0048" Action="None" />
		<Rule Id="MA0051" Action="None" />
	</Rules>
	<Rules AnalyzerId="Microsoft.Analyzers.ManagedCodeAnalysis" RuleNamespace="Microsoft.Rules.Managed">
		<Rule Id="CA1014" Action="None" />
	</Rules>
	<Rules AnalyzerId="Microsoft.CodeAnalysis.CSharp.Features" RuleNamespace="Microsoft.CodeAnalysis.CSharp.Features">
		<Rule Id="IDE0005" Action="Info" />
		<Rule Id="IDE0009" Action="Info" />
		<Rule Id="IDE0058" Action="None" />
		<Rule Id="IDE0061" Action="None" />
		<Rule Id="IDE0065" Action="Info" />
	</Rules>
	<Rules AnalyzerId="Microsoft.CodeQuality.Analyzers" RuleNamespace="Microsoft.CodeQuality.Analyzers">
		<Rule Id="CA1056" Action="None" />
		<Rule Id="CA1710" Action="None" />
		<Rule Id="CA1716" Action="None" />
	</Rules>
	<Rules AnalyzerId="Microsoft.NetCore.Analyzers" RuleNamespace="Microsoft.NetCore.Analyzers">
		<Rule Id="CA1308" Action="None" />
		<Rule Id="CA2237" Action="None" />
		<Rule Id="CA5350" Action="None" />
		<Rule Id="CA5351" Action="None" />
		<Rule Id="CA5394" Action="None" />
	</Rules>
	<Rules AnalyzerId="StyleCop.Analyzers" RuleNamespace="StyleCop.Analyzers">
		<Rule Id="SA1118" Action="None" />
		<Rule Id="SA1124" Action="None" />
		<Rule Id="SA1200" Action="None" />
		<Rule Id="SA1407" Action="Hidden" />
		<Rule Id="SA1413" Action="None" />
		<Rule Id="SA1507" Action="Info" />
		<Rule Id="SA1515" Action="Info" />
		<Rule Id="SA1600" Action="None" />
		<Rule Id="SA1633" Action="None" />
	</Rules>
</RuleSet>